#addCourseSuccess {
    display: none;
  }
#removeCourseSuccess{
    display:none;
}
#addCourseFail{
  display:none;
}
#removeCourseFail{
  display:none;
}
#addCourseFailCredit {
  display: none;
}
#addCourseFailOverlap {
  display: none;
}
#addCourseFailAlready{
  display:none;
}